<h1>Feed</h1>

<%= form_for @new_post, html: {class: "something", id: "fizal"} do |f| %>
  <%= f.text_area :body, cols: 20, rows: 10 %>

  <br>

  <%= f.collection_select(:user_id, User.all, :id, :username) %>

  <br>
  <%= f.submit "Create" %>
<% end %>

<p id="count_message"> </p>

<div>
  <% @posts.each do |post| %>
    <p> <%= post.body %> </p>
    <%= link_to "DELETE", '/posts/' + post.id.to_s, method: :delete, class: "btn" %>
    <%= link_to  "EDIT", edit_post_path(post) %>
    <p> <b> Post by <%= post.user.username %> </b> </p>
    <br>
    <br>
  <% end %>
</div>