<h1>Feed</h1>

<div class="flex">
  <div></div>
  <div>
    <% if current_user %>
      <%= form_for @new_post, html: {class: "something", id: "fizal"} do |f| %>
        <%= f.text_area :body, cols: 20, rows: 10, html: {id: 'create-post'} %>
        <br>
        <%= f.submit "Create" %>
      <% end %>

      <p id="count_message"> </p>
    <% end %>
  </div>
  <div></div>
</div>



<div>
  <% @posts.each do |post| %>
    <p> <%= post.body %> </p>
    <% if current_user %>
      <% if current_user.id == post.user.id %>
        <%= link_to "DELETE", '/posts/' + post.id.to_s, method: :delete, class: "button error" %>
        <%= link_to  "EDIT", edit_post_path(post), class: "button warning" %>
      <% end %>
    <% end %>
    <p> <b> Post by <%= post.user.username %> </b> </p>
    <br>
    <br>
  <% end %>
</div>